body{

    font-family:sans-serif;

    size:2;

    background: linear-gradient(to right, red,blue);

    link:green;

    vlink:#00AA00

}

#container{

    margin:3%;

}



#left{

    float:left;

    width:50%;

}

#right{

    float:right;

    width:50%;

}



h1{

    color:111111;

    text-decoration:underline;

margin-left:3%

}

a{

    color:green;

    text-decoration:none;

}

a:visited{

    color:#00ff00;

}

